body{
    display: flex;
    flex-direction: row;
}
.leftContainer{
    flex-grow: 1;
    width: 50%;
    background: green;
}
.rightContainer{
    flex-grow: 1;
    width: 50%;
    background: blue;
}
.ImgStyle{
    width: 202px;
    height: 292px;
}
